<div class="row">
  <div class="columns">
    
    <h2><%=resource_name.capitalize%>註冊</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="small-3 columns"><%= f.label 'Email',:class=>'right inline' %></div>
      <div class="small-9 columns">
        <%= f.email_field :email, :autofocus => true %>
      </div>
      
      <div class="small-3 columns">
        <%= f.label '名稱',:class=>'right inline' %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :username, :autofocus => true %>
      </div>

      <div class="small-3 columns">
        <%= f.label '聯絡電話' ,:class=>'right inline'%></div>
      <div class="small-9 columns">
        <%= f.telephone_field :phone, :autofocus => true %>
      </div>

      <div class="small-3 columns">
        <%= f.label '密碼',:class=>'right inline' %></div>
      <div class="small-9 columns">
        <%= f.password_field :password %></div>

      <div class="small-3 columns"><%= f.label '確認密碼' ,:class=>'right inline'%></div>
      <div class="small-9 columns">  
        <%= f.password_field :password_confirmation %></div>
      <div><%= f.submit "Sign up", :class=>'button' %></div>
    <% end %>
    <div>
      <span id="signinButton">
        <span
          class="g-signin"
          data-callback="signinCallback"
          data-clientid="CLIENT_ID"
          data-cookiepolicy="single_host_origin"
          data-requestvisibleactions="http://schemas.google.com/AddActivity"
          data-scope="https://www.googleapis.com/auth/plus.login">
        </span>
      </span>
    </div>

    <!--%= render "devise/shared/links" %-->

  </div>
</div>
