<%=render 'layouts/student_user_panel'%>
<div class="large-9 columns">
	<h1>開發技能</h1>
	<%=form_for "", :url => student_path(@student), :method => :put do |f|%>
		<%@skills.each do |s|%>
			<%=check_box_tag 'skill_ids[]', s.id %>
			<%=s.skill_name%>
		<% end -%>
		<%=f.submit%>
	<%end%>
</div>