<div class="large-3 column">
	<h1><%=@student.username%></h1>
	<%=link_to '編輯帳號資料',:edit_student_registration,:id=>:edit_account%><br>
	<%=link_to '報名課程清單',courses_student_path('me'), :id=>:attended_course_list%><br/>
	<%=link_to '編輯學生個人資料',:edit_info_students, :id=>:edit_student_info %><br/>
</div>
<div class="large-9 column">
	<dl class="tabs" data-tab>
		<dd class="active"><a href="#basic_data">關於我</a></dd>
		<dd>
			<a href="#courses">參與課程</a>
		</dd>
		<!-- <dd><a href="#">tab3</a></dd>
		<dd><a href="#">tab4</a></dd> -->
	</dl>
	<div class="tabs-content">
		<div class="content active" id="basic_data">
			<p><%=@student.description%></p>
		</div>
		<div class="content" id="courses">
			<%=render template:'/students/courses'%>
		</div>
	</div>
</div>


	
