<div class="large-3 column">
	<div class="user_table">
	  <div class="user_avatar"></div>
	  <div class="user_name"><%=@student.username%></div>
	  <div class="description">An awesome description</div>
	  <div>
	  </div>
	</div>
	<br/>
</div>
<div class="large-9 column">
	<dl >	
		<dt><h3>關於我</h3><%=link_to '編輯',:edit_info_students, :id=>:edit_student_info %></dt>
		<dd>
			<div class="content active" id="basic_data">
				<p><%=@student.description%></p>
			</div>
		</dd>
		<dt><h3>參與課程</h3><%=link_to "編輯",courses_student_path('me'), :id=>:attended_course_list%></dt>
		<dd><%=render template:'/students/courses'%></dd>
	</dl>
</div>


	
