<%=render 'layouts/student_user_panel'%>
<div class="large-9 column">
<!-- 	<dl class="tabs" data-tab>
	  <dd class="active"><a href="#basic_data"><h5>關於我</h5></a></dd>
	  <dd><a href="#attended_course_show"><h5>參與課程</h5></a></dd>
	  <dd><a href="#show_skill"><h5>開發技能</h5></a></dd>
	</dl> -->
	<div class="tabs-content">
	    <div class="content active columns" id="basic_data">
	    	<%if @student_editable%>
	    	<div class="right">
	    		<%=link_to '編輯',edit_info_student_path('me'), :id=>:edit_student_info %>
	    	</div>
			<% end %>
			<h3>自我介紹</h3>
			<p><%=@student.description%></p>
			<h3>個人經歷</h3>
			<p><%=@student.resume%></p>

			<%if @student_editable%>
			  	<div class="right">
			  		<%=link_to "編輯", edit_skills_student_path('me'), :id=>:me%>
			  	</div>
			<%end -%>
			<h3>專長</h3>
		  	<div class="skill_board column">
	  		<%@skills.each do |s|%>
	  			<div class="large-3 column">
	  				<%=s.skill.skill_name%>
	  			</div>
	  			<div class="large-9 column">
	  				<p><%=s.skill_description%></p>
	  			</div>
	  			<hr/>
	  		<% end -%>
	  		</div>
		</div>
<!-- 		<div class="content column course_list" id="attended_course_show">
			<%if @student_editable%>
			<div class="right">
				<%=link_to "編輯",courses_student_path('me'), :id=>:attended_course_list%>
			</div>
		  	<%end -%>
		  	<ul class="large-block-grid-3 small-block-grid-2">
		  	<%@courses.each do |course|%>
		  		<li>
		  			<div class="course_list_item">
		  				<h4 class="text-center"><%=link_to course.name, course_path(course.id)%></h4>
		  				<p><%=course.description%></p>
		  				<hr/>
		  					<%course.teachers.each do |t|%>
		  				 <%=link_to t.username%>
		  				 <%end%>
		  			</div>
		  		</li>
		  	<%end%>
		  	</ul>
	    </div> -->
	    <!-- <div class="content" id="panel2-4">
	    <p><%=@student.phone%></p>
	  </div> -->
	</div>
	<!-- <div class='textavatar' style='width: 140px;' data-name='fjfje'></div> -->
</div>
	
