<%=render 'layouts/student_user_panel'%>
<div class="large-9 column">
	<div class="tabs-content">
	    <div class="content active columns" id="basic_data">
	    	<%if @student_editable%>
	    	<div class="right">
	    		<%=link_to '編輯',edit_info_student_path('me'), :id=>:edit_student_info %>
	    	</div>
			<% end %>
			<h3>自我介紹</h3>
			<p><%=@student.description%></p>
			<h3>個人經歷</h3>
			<p><%=@student.resume%></p>

			<%if @student_editable%>
			  	<div class="right">
			  		<%=link_to "編輯", edit_skills_student_path('me'), :id=>:me%>
			  	</div>
			<%end -%>
			<h3>專長</h3>
		  	<div class="skill_board column">
	  		<%@skills.each do |s|%>
	  			<div class="large-3 column">
	  				<%=s.skill.skill_name%>
	  			</div>
	  			<div class="large-9 column">
	  				<p><%=s.skill_description%></p>
	  			</div>
	  			<hr/>
	  		<% end -%>
	  		</div>
		</div>
	</div>
	<!-- <div class='textavatar' style='width: 140px;' data-name='fjfje'></div> -->
</div>
	
