<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <%if student_signed_in?%>
          <%=link_to image_tag('learningbar.png'), courses_path %>
        <%else%>
          <%=link_to image_tag('learningbar.png'),'/' %>
        <% end -%>
      </li>
    </ul>
    
    <section class="top-bar-section">
      <ul class="right">
      <% if student_signed_in? %>
        <% student=current_student%>
        <li><%= image_tag student.avatar.url(:tiny) %></li>
        <li class="has-dropdown">
        <%=link_to student.username, student_path(:me), :class=>"username"%>
          <ul class="dropdown">
            <li><%=link_to '個人資料', student_path(:me)%></li>
            <li><%=link_to '帳號設定',:edit_student_registration%></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><%=link_to '登出', '/students/sign_out',method: 'DELETE'%></li>
      <%elsif admin_signed_in? %>
        <li><%=link_to 'Admin '+current_admin.username, '/admins', :class=>"username"%></li>
        <li class="divider"></li>
        <li><%=link_to '登出', '/admins/sign_out',method: 'DELETE'%></li>
      <%elsif teacher_signed_in? %>
        <%teacher=current_teacher%>
        <li><%=link_to 'Teacher '+teacher.username, teacher_path('me'), :class=>"username"%></li>
        <li class="divider"></li>
        <li><%=link_to '登出', '/teachers/sign_out',method: 'DELETE'%></li>
      <%else%>
        <li class="divider"></li>
        <li><%=link_to '登入','#',:data=>{:'reveal-id'=>'loginModal'}%></li>
        <li class="divider"></li>
        <li><%=link_to '註冊', '#', :data=>{:'reveal-id'=>'signupModal'}%></li>
  <%if resource_name=='student'%>
        	<li><%link_to '註冊', '#', :data=>{:'reveal-id'=>'signupModal'}%></li>
        <%end%>  
  <%end%>
      </ul>
    </section>
  </nav>
</div>