<%=render 'backbone/nologo_nav'%>
<div class="first_band clearfix">
<%=render :partial=>'main_logo'%>
  <h4 class="text-center subheader">
    由新銳創業團隊擔任業師<br>
    富含實作精神的開發者學校<br>
  </h4>
  <div class="course_item_row">
    <%=link_to @course, :class=>'course_item' do %>
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-lg fa-laptop fa-stack-1x"></i>
      </span><br/>
      Web App開發
      </h4>
    <%end%>
    <%=link_to @course, :class=>'course_item' do %>
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-lg fa-apple fa-stack-1x"></i>
      </span><br/>
      iOS App開發
      </h4>
    <%end%>
    <%=link_to @course, :class=>'course_item' do %>
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-lg fa-android fa-stack-1x"></i>
      </span><br/>
      Android App開發
      </h4>
    <%end%>
    <%=link_to @course, :class=>'course_item' do %>
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-lg fa-html5 fa-stack-1x"></i>
      </span><br/>
      前端界面設計&開發
      </h4>
    <%end%>
  </div>
</div>
<div class="second_band">
	<h1 class="text-center">台灣最好的開發者學校</h1>
	<div class="overview">
		<h4 class="text-center subheader">
      由一流網路新創公司開辦課程<br>
      最貼近網路產業的開發者教育
    </h4>
	</div>
	<div class="process">
		<ul class="small-block-grid-2">
			<li>
				<span>1</span>
				<div class="process-content">
					<h3>開發課程</h3>
					<p>想學會寫程式嗎？<br>LEARNING BAR開辦技術課程，邀請台灣一流的開發者與新創公司技術團隊，深入淺出分享各種網路開發技能。</p>
				</div>
			</li>
			<li>
				<span>2</span>
				<div class="process-content">
					<h3>課後讀書會</h3>
					<p>和其他學員一起努力！除了課程以外，我們提供免費的讀書會給報名課程的學員，讓大家群聚討論、分享，一起學習成長！<br></p>
				</div>
			</li>
			<li>
				<span>3</span>
				<div class="process-content">
					<h3>職缺媒合</h3>
					<p>參加LEARNING BAR的課程，向網路新創公司學習開發，你的學習記錄與作品將讓新創公司更加認識你，獲得進入實習與應徵正職開發者工作的機會！</p>
				</div>
			</li>
			<li>
				<span>4</span>
				<div class="process-content">
					<h3>認識夥伴</h3>
					<p>會寫程式是網路創業的基礎；參加LEARNING BAR的課程，讓你更有機會與想要創業的學員接觸互動！</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="third_band">
	<h1 class="text-center">頂尖的開發者</h1>
  <div class="large-10 columns push-1">
      <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
  </div>
</div>
<div class="fourth_band">
	<h1 class="text-center">合作夥伴</h1>
	<div class="column large-2">
	  <img src="<%=asset_path('fandora_logo.jpg')%>"/>
	</div>
	<div class="column large-2">
	  <img src="<%=asset_path('CHOCOLABS_CI_4.png')%>"/>
	</div>
  <div class="column large-4">
    <img src="<%=asset_path('appworks.png')%>"/>
  </div>
</div>
<div class="fifth_band">
  <h1 class="text-center">成為開發者<br/>捲起袖子開發產品!</h1>
    <%=link_to "報名課程", courses_path, :class=>"button large"%>
</div>
