<section role="main">
<div class="first_band clearfix">
  <div class="column large-4 large-centered slogan_container">
    <h1 class="text-center">網路產業的開發課程平台</h1>
    <h4 class="text-center">
      由一流的網路程式開發者開班授課<br>
      從入門到進階<br>讓你直接學會最貼近業界的開發技術
      <br>

    </h4>
  </div>
</div>
<!-- Three-up Content Blocks -->

<div class="second_band">
  <div class="row">
    <div class="large-4 columns">
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-5x">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-lg fa-keyboard-o fa-stack-1x"></i>
      </span><br/>
      學習網路產業實務的開發技術
      </h4>
      <p>LEARNINGBAR邀請網路產業的專業開發者開班授課，讓你用最直接的方法，學會實務的開發技術，增加學習效率。</p>
    </div>
    <div class="large-4 columns">
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-5x">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-lg fa-star fa-stack-1x"></i></span><br/>
        與網路專業開發者深度交流</h4>
      <p>你有任何想法希望得到專業的建議？或者你想要認識一流網路公司、增加未來接觸機會？在LEARNINGBAR，你將獲得與網路公司開發者深度交流的機會</p>
    </div>

    <div class="large-4 columns">
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-5x">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-lg fa-keyboard-o fa-stack-1x"></i>
        </span><br/>
        累積課程資歷</h4>
      <p>在LEARNINGBAR上過的課，都會被記錄起來，整合你個人撰寫的履歷，為你的開發實力背書</p>
    </div>
  </div>
</div>
<div class="third_band clearfix">
  <div class="column large-4 large-offset-2">
    <img src="<%=asset_path('choco_course.png')%>"/>
  </div>
  <div class="column large-5" style="padding-top:100px;">
    <h1><%=link_to @course.name,course_url(@course)%></h1>
    <h4>時間：<%= @course.course_date.strftime('%Y年%m月%d日%I:%M %p')%></h4>
    <h4>地點：<%= @course.location%></h4>
      <%=link_to '查看課程',course_url(@course), :class=>'button' %>
  </div>
</div>
</section>

<!-- Footer -->

<footer>
  <div class="row">
    <div class="large-3 columns">
      <h4>讓我們知道你的想法:</h4>
      <a href="http://on.fb.me/1aIEVfr" class="radius button expand">聯絡我們</a>
    </div>
    <div class="large-4 columns">
      <div class="fb-like-box" data-href="http://www.facebook.com/learningbar" data-height="190" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>
    <div class="large-4 columns">
      <ul class="inline-list right">
      </ul>
    </div>
  </div>
  <div class="row">
    <h6 class="right">© Copyright LEARNINGBAR</h6>
  </div>
  
</footer>
