<%=render 'backbone/nologo_nav'%>
<div class="first_band clearfix">
<%=render :partial=>'main_logo'%>
  <h4 class="text-center subheader">
    透過 Google Hangouts<br>
    學習富含實作精神的程式開發者課程<br>
  </h4>
  <div class="course_item_row">
    <%=link_to course_catagory_path("web-development"), :class=>'course_item' do %>
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-lg fa-laptop fa-stack-1x"></i>
      </span><br/>
      Web App開發
      </h4>
    <%end%>
    <%=link_to course_catagory_path("ios"), :class=>'course_item' do %>
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-lg fa-apple fa-stack-1x"></i>
      </span><br/>
      iOS App開發
      </h4>
    <%end%>
    <%=link_to course_catagory_path("android"), :class=>'course_item' do %>
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-lg fa-android fa-stack-1x"></i>
      </span><br/>
      Android App開發
      </h4>
    <%end%>
    <%=link_to course_catagory_path("front-end"), :class=>'course_item' do %>
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-lg fa-html5 fa-stack-1x"></i>
      </span><br/>
      前端界面設計&開發
      </h4>
    <%end%>
  </div>
</div>
<div class="second_band">
	<h1 class="text-center">你不必再為了學習而忍受通勤</h1>
	<div class="overview">
		<h4 class="text-center subheader">
      LEARNING-BAR 邀請專業開發者擔任講師<br>
      以Google Hangouts提供遠端程式教育
    </h4>
	</div>
	<div class="process">
		<ul class="small-block-grid-2">
			<li>
				<span>1</span>
				<div class="process-content">
					<h3>教育沒有距離</h3>
					<p>透過 Google Hangouts 完善的「螢幕分享」與「遠端協助」功能，讓學寫程式不必再跋山涉水，也能獲得最貼近業界的程式技術課程。</p>
				</div>
			</li>
			<li>
				<span>2</span>
				<div class="process-content">
					<h3>小班合作專案</h3>
					<p>3～5人的小班課程，除了保障課程品質外，還能和其他學員一起分工實作專案！LEARNING-BAR 課程由講師帶領，指導同班學員一起完成較大型的專案，學習實際多人程式開發流程。</p>
				</div>
			</li>
			<li>
				<span>3</span>
				<div class="process-content">
					<h3>踏入開發者社群</h3>
					<p>參加課程、認識講師，就是踏入開發者社群的最短途徑；LEARNING BAR 邀請的講師皆有許多讀書會、公開活動的舉辦經驗，幫助你加入開發者行列，與其他人互相幫助。</p>
				</div>
			</li>
			<li>
				<span>4</span>
				<div class="process-content">
					<h3>免費參加不定期活動</h3>
					<p>LEARNING BAR 除了提供遠端程式教育外，將不定期舉辦線下聚會，凡是參加過LEARNING BAR 課程的朋友，皆能免費參加。</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="third_band">
	<h1 class="text-center">頂尖的開發者</h1>
  <div class="large-10 columns push-1">
      <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
        <div class="teacher_items">
            <h4 class="text-center">
              <span class="fa-stack fa-lg fa-5x">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            </span><br/>
            </h4>
        </div>
  </div>
</div>
<div class="fourth_band">
	<h1 class="text-center">合作夥伴</h1>
	<div class="column large-2">
	  <img src="<%=asset_path('fandora_logo.jpg')%>"/>
	</div>
	<div class="column large-2">
	  <img src="<%=asset_path('CHOCOLABS_CI_4.png')%>"/>
	</div>
  <div class="column large-4">
    <img src="<%=asset_path('appworks.png')%>"/>
  </div>
</div>
<div class="fifth_band">
  <h1 class="text-center">成為開發者<br/>捲起袖子開發產品!</h1>
    <%=link_to "報名課程", courses_path, :class=>"button large"%>
</div>
