<h1>課程列表</h1>
<ul class="course_list small-block-grid-2 medium-block-grid-3 large-block-grid-4">
<%@courses.each do |course|%>	
	<li>
		<%=link_to course_path(course), :class=>:course_list_block do %>
			<h4><%=course.name%></h4>
			<p><%=course.course_date.strftime('%Y年%m月%d日%I:%M %p')%></p>
			<p><%=course.location%></p>
			<p><%=course.description%></p>
			<!--%=link_to '查看', course_path(course),:class=>:button%-->
		<%end%>
	</li>
<% end -%>
</ul>
