<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div> <%=link_to '編輯帳號資料',edit_user_registration_path%> </div>
<div><%=@user.username%></div>

<div><%=link_to '編輯學生個人資料', 'student/edit'%></div>
簡歷:
<div><%=@student.description%></div>

<div><%=link_to '報名課程清單','/users/course'%></div>
