<div class="row">
  <div class="columns">
    <h2>登入</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="small-2 columns"><%= f.label 'Email',:class=>'right inline' %></div>
      <div class="small-10 columns">
        <%= f.email_field :email, :autofocus => true %>
      </div>

      <div class="small-2 columns">
        <%= f.label '密碼',:class=>'right inline' %></div>
      <div class="small-10 columns">
        <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div>
        <%= f.submit "登入", :class=>'button' %>
        <%= link_to "忘記密碼", new_password_path('student'),:class=>'right' %>
      </div>

    <% end %>

    <!--%= render "devise/shared/links" %-->

  </div>
</div>
