<div class="row">
	<div class="columns">
		<h1>確認報名:<%= @course.name%></h1>
		<h4>時間:<%= @course.course_date.to_s%></h4>
		<h4>地點:<%= @course.location%></h4>
		<%=form_for @attend, :url=>attend_course_path(@course) do |f|%>
			<%=f.label :course_expect, "課程期待"%>
			<%=f.text_area :course_expect%>
			<%=f.submit '確認報名',:class=>:button%>
		<%end%>
		
	</div>
</div>
