<h1 class="course_name"><%= @course.name%></h1>
<div class="row">
	<!-- cancel alert -->
	<div class="large-8 column course_content">
		<div class="row course_img_container">
			<img src="<%=image_path('mainbanner.jpg')%>">	
		</div>
		<div class="row">
			<%= @course.agenda%>
		</div>
		<div class="row">
			<!-- student 也可以看有哪些人參加課程
			 <ul id="attended_list" class="large-block-grid-12 small-block-grid-6">
			</ul> -->
		</div>
	</div>
	<aside class="large-4 column course_sidebar">
		<div class="panel">
			<h3>課程資訊</h3>
			<%if @companies %>
				<h6>開課單位</h6>
				<%@companies.each do |c|%>
					<%=c.name%>
				<%end%>
			<%end%>
			<h6>主講人</h6>
			<% @teachers.each do |t|%>
				<%= t.username%>
			<%end%>
			<h6><i class="fa fa-calendar"></i> 課程時間</h6>
				<%= @course.course_date.strftime('%Y年%m月%d日%I:%M %p')%>
			<h6><i class="fa fa-map-marker"></i> 課程地點</h6>
				<%= @course.location%>
			<!--map-->
			<h6><i class="fa fa-users"></i> 開放名額/報名人數</h6>
			<%= @course.student_amount.to_s%>/
		</div>
		
		<div class="panel">
			<h3>報名課程</h3>
			<h6>課程要求:</h6>
			<%=@course.attend_request%>
			<br/><br/>
			<% if @attend %>
				<div class="attended"><h3 class="subheader text-center">已報名</h1></div>
				<%=link_to '取消報名','#',data:{:'reveal-id'=>:'cancel_confirmation'}, class:'button expand alert'%>
			<% elsif @students %>
				<%=link_to '編輯', edit_course_path(@course)%>
				<%=link_to '已報名學生列表', attendee_info_course_path%>
			<% else %>
				<br/><br/><br/>
				 <%=link_to attend_confirmation_course_path(@course),class:"button expand" do %>
				 	報名<i class="fa fa-sign-in fa-lg"></i>
				 <% end -%>
			<% end %>
		</div>

		<div id="cancel_confirmation" class="reveal-modal small" data-reveal>
			<h3>確定要取消報名課程？</h3>
			<%=link_to "取消報名", cancel_attendance_course_path, class:'button alert', data:{:'alert-class'=>:'cancel-success'}%>
			<%=link_to "維持報名", "#", class:'button close-reveal-modal'%>
			<a class="close-reveal-modal">&#215;</a>
		</div>
	</aside>
</div>