<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/learningbar_icon.png" rel="shortcut icon" />
    <title><%= content_for?(:title) ? yield(:title) : "Learningbar" %></title>
    
    <%= stylesheet_link_tag    "application" ,:media => "all"%>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    //id需要更改
    js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=514033835356159";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <%=render :partial=>'backbone/navbar'  %>
  	
    <div class="row">
      <div class="columns">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <%=render :partial=>'backbone/modals'%>
  </body>
</html>
